<?php
/**
 * Local.php
 */

return array(
    'doctrine' => array(
        'connection' => array(
            'orm_default' => array(
                'driverClass' => 'Doctrine\DBAL\Driver\PDOMySql\Driver',
                'params' => array(
                    'host'     => 'localhost',
                    'port'     => '3306',
                    'user'     => 'root',
                    'password' => '',
                    'dbname'   => 'db',
                )
            )
        )
    ),

    'gracenote' => array(
        'clientId' => '',
        'userId' => '',
    },

    'keen-io' => array(
        'projectId' => '',
        'apiKey' => '',
    ),

    'di' => array(
        'instance' => array(
            'Jambase\Service\Jambase' => array(
                'parameters' => array(
                    'apiKey' => '',
                ),
            ),

            'geoname' => array(
                'parameters' => array(
                    # tmp dir for storing geoname data source files
                    'tmpDir'    => 'data/geoname',
                    # cron expression: how frequently Geoname module 
                    # should be run
                    # for both auto-install and auto-update
                    'cron'      => '*/15 * * * *',
                ),
            ),
        ),
    ),
);
