<?php

namespace Jambase;

$apiKey = '';

/** ==== End User Edit ==== **/

return array(
    'di' => array(
        'instance' => array(
            'Jambase\Service\Jambase' => array(
                'parameters' => array(
                    'apiKey' => $apiKey,
                ),
            ),
        ),
    ),
);
